{% extends "dota2bbq/base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<a href="https://github.com/eclipse9614/dota2bbq-django"><img style="position: absolute; top: 62; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
<div class='hero-unit'>
	<h1>Dota 2 BBQ</h1>
	<p>is a fan site from me. The copyright of all images and data of heroes and items belongs to ValveSoftware and copyright of scripts and apps belongs
		to me. This website is based on Python Django as the back end, Jquery, Jquery UI, Bootstrap as the front end. The open sorce license for this website except the content from Valve is GPL-3.0.
	</p>
	<h5 style='text-align: right;'>Zhoutuo Yang</h5>
</div>
{% endblock %}
{% block scripts %}

{% endblock %}