{% extends "dota2bbq/base.html" %}
{% block title %}Items{% endblock %}
{% block content %}
<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Reminder!</strong> Hover over items to see the details.
</div>
	<div class="items">
		<div class="item_headers">
			{% for items in item_set %}
				<span class="item_header">{{items.kind}}</span>
			{% endfor %}
		</div>
		{% for items in item_set %}
			<div class="items_column">
				{% for item in items.items %}
					<div class="item" id='{{item.id}}'>
						<img src="/static/images/items/{{item.name}}.png" data-id='{{item.id}}' width="85px" height="64px" title>
					</div>
				{% endfor %}
			</div>
		{% endfor %}
	</div>

{% endblock %}

{% block scripts %}
	<script src="/static/js/items.js"></script>
{% endblock %}