<!DOCTYPE html>
<html>
    <head>
        <title>Dota2 Management</title>
    </head>
    <body>
        <table style='margin: 0 auto;'>
            <tr>
                <th>Heroes</th>
                <th>Items</th>
            </tr>
            <tr>
                <td>
                    <select id='hero_name'>
                        <option value='-1'>Pick a hero to edit or delete</option>
                        {% for hero in heroes %}
                        <option value='{{hero.name}}'>{{hero.name}}</option>
                        {% endfor %}
                    </select>
                    <ul>
                        <li><a id='hero_create' href='/manage/hero_create/'>Create a hero</a></li>
                        <li><a id='hero_edit' href='/manage/hero_edit/'>Edit a hero</a></li>
                        <li><a id='hero_delete' href='/manage/hero_delete/'>Delete a hero</a></li>
                        <li><a id='skill_edit' href='/manage/skill_edit/'>Edit skills of a hero</a></li>
                        <li><a id='skill_build' href='/manage/skill_build/'>Edit skill builds of a hero</a></li>
                    </ul>
                </td>
                <td>
                    <select id='item_name'>
                        <option value='-1'>Pick a item to edit or delete</option>
                        {% for item in items %}
                        <option value='{{item.name}}'>{{item.name}}</option>
                        {% endfor %}
                    </select>
                    <ul>
                        <li><a id='item_create' href='/manage/item_create/'>Create an item</a></li>
                        <li><a id='item_edit' href='/manage/item_edit/'>Edit an item</a></li>
                        <li><a id='item_delete' href='/manage/item_delete/'>Delete an item</a></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan='2' style='text-align: center;'><button type='button' id='close_btn'><a href='/'>Close</a></button></td>
            </tr>
            
        </table>
        
    <script src='/static/js/jquery-1.8.3.min.js'></script>
    <script src='/static/js/manage.js'></script>
    </body>
</html>