<!DOCTYPE html>
<html>
    <head>
        <title>Dota2 Management</title>
    </head>
    <body>
        <table style='margin: 0 auto;'>
            <tr>
                <th>Heroes</th>
                <th>Items</th>
            </tr>
            <tr>
                <td>
                    <select id='hero_name'>
                        <option value='-1'>Pick a hero to edit or delete</option>
                        {% for hero in heroes %}
                        <option value='{{hero.name}}'>{{hero.name}}</option>
                        {% endfor %}
                    </select>
                    <ul>
                        <li><a href='/dota2bbq/manage/hero_create/'>Create a new hero</a></li>
                        <li><a href='/dota2bbq/manage/hero_edit/'>Edit a hero</a></li>
                        <li><a href='/dota2bbq/manage/hero_delete/'>Delete a hero</a></li>
                    </ul>
                </td>
                <td>
                    <select id='item_name'>
                        <option value='-1'>Pick a item to edit or delete</option>
                        {% for item in items %}
                        <option value='{{item.name}}'>{{item.name}}</option>
                        {% endfor %}
                    </select>
                    <ul>
                        <li><a href='/dota2bbq/manage/item_create/'>Create an item</a></li>
                        <li><a href='/dota2bbq/manage/item_edit/'>Edit an item</a></li>
                        <li><a href='/dota2bbq/manage/item_delete/'>Delete an item</a></li>
                    </ul>
                </td>
            </tr>
        </table>

    </body>
</html>